*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18rem;
    height: 18rem;
}

.loading-page {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 100%;
    }
  
  #bg1 {
    position: absolute;
    min-width: 50%;
    min-height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 8rem;
    will-change: width;
  }
    
  #ezxwoGFZpUB1 {
    height: 667px;
    width: 101%;
    position: relative;
    overflow: hidden;

  }

  #ezxwoGFZpUB2 {
    height: 667px;
    width: 101%;
    stroke-dasharray: 290 2000;
    animation: draw 3s ease;
  }
  @keyframes draw {
    0% {
      stroke-dashoffset: -400;
      
    }
    100% {
      stroke-dashoffset: -930;
      
    }
}

#ezxwoGFZpUB2 {
  height: 667px;
  width: 101%;
  stroke-dasharray: 1020 1020;
  animation: draw2 5s ease;
}
@keyframes draw2 {
  0% {
    stroke-dashoffset: -930;
    
  }
  100% {
    
    
  }
}

  #ezxwoGFZpUB3 {
    height: 667px;
    width: 101%;
    stroke-dasharray: 290 2000;
    animation: draw 3s ease;
  }

  @keyframes draw {
    0% {
      stroke-dashoffset: -400;
    }
    100% {
      stroke-dashoffset: -930;
      
    }
}

#ezxwoGFZpUB3 {
  height: 667px;
  width: 101%;
  stroke-dasharray: 1020 1020;
  animation: draw3 5s ease;
}

@keyframes draw3 {
  0% {
    stroke-dashoffset: -930;
  }
  100% {
    
    
  }
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(/oneplus.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000000;
}



